html, body {
    margin: 10;
    padding: 10;
}



.grid {
    display: flex;
    flex-wrap: wrap;
    width: 420px;
    height: 420px;
    border: solid black;
}

.grid div {
    width: 15px;
    height: 15px;
}

.pac-dot{
    background-color: forestgreen;
    border: 5px solid white;
    box-sizing: border-box;
}

.wall{
    background-color: blue;
}

.power-pellet{
    background-color: coral;
    border-radius: 7.5px;
}

.pacman{
    background-color: rgb(252, 255, 81);
    border-radius: 5.5px;
}

.blinky{
    background-color: red;
    border: none;   
}

.pinky{
    background-color: pink;
    border: none;   
}

.inky{
    background-color: rgb(87, 87, 87);
    border: none;   
}

.clyde{
    background-color: fuchsia;
    border: none;   
}

.scared-ghost{
    background-color: aquamarine;
}